<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Message Sent</th>
      <th scope="col">Messenger</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
    </tr>
  </thead>
  <tbody>
    <tr class='pointer' ng-repeat="message in Messages" data-toggle="modal" data-target="#messageModal" data-whatever="{{ message }}">
      <th scope="row">{{ message.message_id }}</th>
      <td> {{ message.message_created }}</td>
      <td> {{ message.message_name }}</td>
      <td> {{ message.message_email }} </td>
      <td> {{ message.message_phone }}</td>
    </tr>
  </tbody>


  <!-- Request Modal -->
  <div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true" ng-controller = "adminCtrl">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="messageModalLabel"> Message </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</table>
