.masthead-img {
  height: 400px;;
  width: 100%;
}

.icon-card {
  min-height: 100px;
  width: 200px;
}

/* Top left text */
.top-left {
    position: absolute;
    top: 70px;
    left: 16px;
}

.edit-button {
  cursor: pointer;
}

.edit-button:hover {
  opacity: 0.5;

}
.pointer {
  cursor: pointer;
}

.description-input {
  height: 50px!important;
  width: 100%;

  padding: 20px 50px 200px 10px;
  word-break: break-all

  overflow: scroll;
}
