.masthead-img {
  height: 400px;;
  width: 100%;
}

.icon-card {
  min-height: 100px;
  width: 200px;
}

/* Top left text */
.top-left {
    position: absolute;
    top: 90px;
    left: 110px;
}

.edit-button {
  cursor: pointer;
}

.edit-button:hover {
  opacity: 0.5;

}
.pointer {
  cursor: pointer;
}

.pointer:hover {
  opacity: 0.5;
}

.description-input {
  height: 50px!important;
  width: 100%;

  padding: 5px 50px 200px 10px;
  word-break: break-all;

  overflow: scroll;
}

.white-space-pre {
    white-space: pre-wrap;
}

.btn-light {
  border-color: #E4E4E4;
  cursor: pointer;
}

.glyphicon{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.glyphicon-chevron-left:before{
    content:"\f053"
}
.glyphicon-chevron-right:before{
    content:"\f054"
}
.glyphicon-chevron-up:before{
    content:"\f077"
}
.glyphicon-chevron-down:before{
    content:"\f078"
}

 .addbutton {
  position: absolute;
  margin-top: 10px;
  display: inline-block;
  color: #A1A0A0;
  cursor:pointer;
}

.addbutton:hover {
  color: #BBBBBB;
}

.minbutton {
	display: inline-block;
  margin-top: 25px;
  color: #A1A0A0;
  cursor:pointer;
}

.minbutton:hover {
  color: #BBBBBB;
}

.day-picker {
  width: 96%;
  margin-left: 10px;
}

.time-picker {
  margin-left: 10px;
  margin-top: 10px;
  height: 38px;
}

.time-picker-input {
  width: 50px;
  height: 38px;
  margin-right: 5px;
}



/*animation*/
