<link href="css/signUpForm.css" rel="stylesheet">
<div ng-controller="signUpFormCtrl">
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top background-black" id="mainNav">
    <div class="container">
      <a class="navbar-brand pointer" ng-click="redirect('/')"> <img id="logo" src= "assets/logo.png"> </a>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item pointer">
            <a class="nav-link" ng-click ="redirect('stores')">Stores</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container mt-150px">
    <h5 class="text-center"> Sign up for your own restaurant space now! </h5>
    <small class="form-text text-muted text-center mb-5">We'll never share your information with anyone else.</small>
    <div class="card">
      <h6 class="card-header">Signup Form </h6>
      <div class="card-body" ng-model="form">
        <div class="mb-4">
          <small class=""> Basic Information </small>
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" aria-describedby="" placeholder="Enter name" ng-model="form.name">
          </div>
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" ng-model="form.email">
          </div>
          <div class="form-group">
            <label for="phone">Phone </label>
            <input type="text" class="form-control" id="phone" aria-describedby="phoneHelp" placeholder="Enter phone #" ng-model="form.phone">
          </div>
        </div>

        <div class="mb-4">
          <small class=""> Restaurant Information </small>
          <div class="form-group">
            <span class="">Restaurant Category</span>
            <select class="custom-select" id="restaurantCategory" ng-model="form.category">
              <option value="Casual Dining" selected>Casual Dining</option>
              <option value="Fine Dining">Fine Dining</option>
              <option value="Fast Casual">Fast Casual</option>
              <option value="Fast Food">Fast Food</option>
            </select>
          </div>
          <div class="form-group">
            <span class="">Restaurant Cuisine</span>
            <select class="custom-select" id="restaurantCuisine" ng-model="form.cuisine">
              <option value="American" selected>American</option>
              <option value="British">British</option>
              <option value="Caribbean">Caribbean</option>
              <option value="Chinese">Chinese</option>
              <option value="French">French</option>
              <option value="Greek">Greek</option>
              <option value="Indian">Indian</option>
              <option value="Italian">Italian</option>
              <option value="Japanese">Japanese</option>
              <option value="Mediterranean">Mediterranean</option>
              <option value="Mexican">Mexican</option>
              <option value="Moroccan">Moroccan</option>
              <option value="Spanish">Spanish</option>
              <option value="Thai">Thai</option>
              <option value="Turkish">Turkish</option>
              <option value="Korean">Korean</option>
            </select>
          </div>
        </div>

        <div class="mb-4">
          <small class=""> Documents </small>
          <div class="form-group row">
            <label class="col">Food Mananger/Handler Certificate</label>
            <input class="col" id="foodHandlerCert" type="file" file-input ="food_handler_cert" required/>
          </div>
          <div class="form-group row">
            <label class="col">Identification Document</label>
            <input class="col" id="idImage" type="file" file-input ="id_image" required/>
          </div>
        </div>

        <div class="text-center mt-5"><button class="btn btn-primary" ng-click="uploadForm()"> Submit </button></div>

      </div>
    </div>
  </div>
</div>

<!-- Success Message-->
<div class="modal fade" id="formSuccessModal" tabindex="-1" role="dialog" aria-labelledby="messageSuccess" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Message Sent!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p> Your message has been successfully sent. You'll hear from us soon! </p>
        <div class="btn-box mt-4 pull-right">
          <button type="button" class="btn btn-primary" data-toggle= "modal" data-target="#formSuccessModal"> Ok </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Fail Message-->
<div class="modal fade" id="formFailModal" tabindex="-1" role="dialog" aria-labelledby="messageFail" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Uh-oh...</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p> Something has gone wrong... try refreshing the page and send your message again. If this problem continues, contact us at menooing.info@gmail.com! </p>
        <div class="btn-box mt-4 pull-right">
          <button type="button" class="btn btn-primary" data-toggle= "modal" data-target="#formFailModal"> Ok </button>
        </div>
      </div>
    </div>
  </div>
</div>
