<link href="css/stores.css" rel="stylesheet">
<nav class="navbar navbar-expand-lg navbar-dark fixed-top background-black" id="mainNav">
  <div class="container">
    <a class="navbar-brand pointer" ng-click="redirect('/')"> <img id="logo" src= "assets/logo.png"> </a>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ml-auto">
        <li class="nav-item pointer">
          <a class="nav-link" ng-click ="redirect('request-station')">Apply Now</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <!-- Stores -->
  <section class="bg-light" id="stores">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Stores</h2>
          <h3 class="section-subheading text-muted"> Eaters8: Precint Lane Location </h3>
          <h3 class="section-subheading text-muted"> Phone: </h3>
        </div>
      </div>
    </div>
  </section>

</div>
<img id="store-image" src="assets/store.jpg"></img>
