.home-content {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 20%;
  width: 100%;
}

/*Registering new restaurant */


label {
  margin: 3px;
}

.form-group {
  margin-bottom: 5px;
}

.form-control {
  padding-top: 1.5px;
  padding-bottom: 1.5px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 1px;
}

.top-margin {
  margin-top: 10px;
}

/****** Restaurant Styling ******/

/* restaurant tempate */
#restaurant-list {
  margin-top: 3%;
  width: 90%;
}

#restaurant-list .portfolio-item {
  margin-bottom: 50px;
}

/* restaurant registration form */

.restaurant-information-form {
  width: 70.5%;
}

form {
  margin-bottom: 30px;
}

input.ng-invalid.submitted {
    box-shadow: 0 0 5px #f00;
}

#circular-button {
  height: 20px;
  width: 20px;
}

#circular-button:hover {
  opacity: 0.2;
}

.form-inline .form-group input{
  width: 160px;
  margin-bottom: 6px;

}
#img-fork {
  margin-top: 100px;
  width: 300px;
  height: 300px;
}

#city {
  margin-right: 10px;
}

#state {
  margin-right: 10px;
}

.right-margin {
  margin-right: 340px;
}
/* restaurant profile */

.restaurant-profile {
  margin-top: 2%;
  margin-left: 10%;
  width: 60%;
}

.card-block.container {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 3em;
  padding-right: 3em;
}

.two-inline {
  width: 50%;
}


/**** /Restaurant Styling ****/
