.home-content {
  margin-top: 2%;
  margin-bottom: 2%;

}

/* Sidebar nav */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 90%;
    margin: 0;
    margin-top: 50px;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: black;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: black;
    background: #F7F7F7;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
    background: #F7F7F7;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}


/*Registering new restaurant */

form {
  width: 500px;
}

label {
  margin: 3px;
}

.form-group {
  margin-bottom: 5px;
}

.form-control {
  padding-top: 1.5px;
  padding-bottom: 1.5px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 1px;
}

.top-margin {
  margin-top: 10px;
}

/******restaurant ******/

/* restaurant tempate */
#restaurant-list {
  margin-top: 3%;
  width: 90%;
}

#restaurant-list .portfolio-item {
  margin-bottom: 50px;
}

/* restaurant registration form */
form {
  margin-bottom: 30px;
}

input.ng-invalid.submitted {
    box-shadow: 0 0 5px #f00;
}

#circular-button {
  height: 20px;
  width: 20px;
}

#circular-button:hover {
  opacity: 0.2;
}

.form-inline .form-group input{
  width: 160px;
  margin-bottom: 6px;

}
#img-fork {
  margin-top: 100px;
  width: 300px;
  height: 300px;
}

#city {
  margin-right: 10px;
}

#state {
  margin-right: 10px;
}

.right-margin {
  margin-right: 340px;
}
