.home-content {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 20%;
  width: 100%;
}

/*Registering new restaurant */


label {
  margin: 3px;
}

.form-group {
  margin-bottom: 10px;
  padding:0;
}

.form-control {
  padding-top: 1.5px;
  padding-bottom: 1.5px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 4px;
}

.top-margin {
  margin-top: 10px;
}

/****** Restaurant Styling ******/

/* restaurant template */
#restaurant-list {
  margin-top: 3%;
  width: 90%;
}

#restaurant-list .portfolio-item {
  margin-bottom: 50px;
}

/* restaurant registration form */

.restaurant-information-form {
  width: 70.5%;
}

input.ng-invalid.submitted {
    box-shadow: 0 0 5px #f00;
}

#circular-button {
  height: 20px;
  width: 20px;
}

#circular-button:hover {
  opacity: 0.2;
}

.form-inline .form-group input{
  width: 160px;
  margin-bottom: 6px;

}
#img-fork {
  margin-top: 100px;
  width: 300px;
  height: 300px;
}

#city {
  margin-right: 10px;
}

#state {
  margin-right: 10px;
}

.right-margin {
  margin-right: 340px;
}
/* restaurant profile */

.restaurant-nav {
  margin-bottom: 1em;
}

.restaurant-profile {
  margin-top: 2%;
  margin-left: 10%;
  width: 60%;
}

.card-block.container {
  padding-top: 1em;
  padding-left: 3em;
  padding-right: 3em;
  margin-bottom: 1em;
}

.two-inline {
  width: 50%;
}

.col-label {
  width: 30%;
}

.col-input {
  width: 70%;
}

#city-label {
  width: 10%;
}
#city-input {
  width: 30%;
  margin-right: 10%;
}
#state-label {
  width: 10%;
}
#state-input {
  width: 10%;
  margin-right: 10%;
}
#zip-label {
  width: 10%;
}
#zip-input {
  width: 10%;
}

#restaurant-save-changes.btn {
  width: 25%;
  margin: auto;
  margin-bottom: 2rem;
  margin-top: 2rem;
  margin-left: 26%;
}

#restaurant-image {
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}





/* restaurant menu */
.restaurant-category {
  margin-bottom: 2rem;
}

.menu-img {
  max-width: 300px;
  max-height: 200px;
  display: block;
  margin: 0 auto;
}

.menu-form {
  margin: 2em;
}

button#menu-category.btn {
  padding: 1px;
  width: 100%;
  margin:0;
}

#menu-category.custom-select {
  height: calc(1.8rem + 2px);
  padding-top: 1px;
  padding-bottom: 1px;
  margin-bottom: 4px;
}


/**** /Restaurant Styling ****/
